* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

#title-bar {
  background-color: rgb(42, 187, 155);
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
}

#info-bar {
  background-color: rgb(41, 241, 195);
  text-align: center;
  padding: 20px;
}

#container {
  text-align: center;
  margin-top: 12px;
}

#button-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 12px;
  grid-column-gap: 12px;
}

.button {
  width: 210px;
  height: 145px;
  cursor: pointer;
  background: rgb(255, 255, 204);
  font-weight: bold;
  font-size: 14px;
  border: 1px solid rgb(223, 215, 215);
}

.button-selected {
  width: 210px;
  height: 145px;
  cursor: pointer;
  background: rgb(4, 147, 114);
  font-weight: bold;
  font-size: 14px;
  border: 1px inset rgb(223, 215, 215);
}

.button-icon {
  width: 60px;
  margin: auto;
}

button:active,
button:focus {
  outline: none;
}

.button:hover {
  background: rgb(254, 241, 96);
  transition: background 0.2s ease-in-out;
}

#continue-container {
  margin-top: 15px;
  text-align: center;
}

#continue {
  padding: 5px 20px;
}

#continue:hover {
  cursor: pointer;
}
