/*
This is CSS. This gives the HTML file instructions on how to be formatted. "#item"
corresponds to the id of an HTML element and ".item" corresponds to the class of
an HTML element. Multiple elements can have the same class.
*/

/* Applies to all elements */
* {
  font-family: "Roboto", sans-serif;
}

/* Elements can be referred to with the tag name, class, or id */
body {
  margin: 0;
}

#title-bar {
  background-color: rgb(42, 187, 155);
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
}

#info-bar {
  background-color: rgb(41, 241, 195);
  text-align: center;
  padding: 20px;
}

#text-choose {
  margin-top: 10px;
  text-align: center;
}

#container {
  text-align: center;
  margin-top: 12px;
}

#button-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 12px;
  grid-column-gap: 12px;
}

.button {
  width: 210px;
  height: 145px;
  cursor: pointer;
  background: rgb(255, 255, 204);
  font-weight: bold;
  font-size: 14px;
  padding: 15px;
  border: 1px solid rgb(223, 215, 215);
}

.button-selected {
  background: rgb(4, 147, 114);
  color: white;
  border: 1px inset rgb(223, 215, 215);
}

/* Applies when the button is either active or focused */
button:active,
button:focus {
  outline: none;
}

.button:hover {
  background: rgb(254, 241, 96);
  transition: background 0.2s ease-in-out;
}

#note-container {
  margin-top: 15px;
}

#note {
  display: block;
  margin: auto;
}

#continue-container {
  margin-top: 15px;
  text-align: center;
}

#continue {
  padding: 5px 20px;
}

#continue:hover {
  cursor: pointer;
}
